.cadastro-sensor .container {
    padding: 30px;    
    background-color: white;
    width: 60vw; 
    height: 100%;
    border-radius: 20px;
    margin-top: 20px;
    min-height: 30vh; 
}

.cadastro-sensor .text-wrapper-titulo {
    color: #020202;
    font-family: "Onest-Regular", Helvetica;
    font-size: 30px; 
    text-align: center;
    margin-top: 20px; 
}

.cadastro-sensor .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cadastro-sensor .form {
    flex: 1;
    padding-left: 10px;
    padding-right: 30px;
}

.cadastro-sensor .form-group {
    margin-bottom: 5px; 
    padding: 8px;
}

.cadastro-sensor .text-wrapper {
    color: #40587e;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.cadastro-sensor .input {
    background-color: #f8f8f8;
    border: none;
    border-radius: 10px;
    height: 31px;
    width: 100%;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    color: #5f5e63;
    padding: 5px 10px;
}

.cadastro-sensor .select {
    background-color: #f8f8f8;
    border: none;
    border-radius: 10px;
    height: 31px;
    width: 100%;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    color: #5f5e63;
    padding: 20px 10px;
}

.cadastro-sensor .button {
    background-color: #0178d4;
    border-radius: 5px;
    height: 47px;
    width: 198px;
    color: #edf4ff;
    font-family: "Kantumruy-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 47px;
    border: none;
    cursor: pointer;    
    margin: 0 auto;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.success-message, .error-message {
    text-align: center;
    margin: 10px auto;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}