.lista-estacao {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.lista-estacao .container {
    padding: 50px;
    background-color: white;
    width: 70dvw;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.lista-estacao .text-wrapper-titulo {
    color: #020202;
    font-family: "Onest-Regular", Helvetica;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px; 
}

.success-message, .error-message {
    text-align: center;
    margin: 10px auto;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #40587e;
    font-size: 1.5em;
    margin: 0 5px;
}

.icon-button:hover {
    color: #334766;
}

.rdt_TableHeadRow > div {
    font-size: 18px; 
    font-weight: bold;     
    padding: 19px;
    
    
}


.rdt_TableCell {
    font-size: 18px;
    padding: 11px;
}