.alert-section{
    margin: 20px 0;
}

.alert-card{
    margin: 10px 0;
    padding: 15px;
    background-color: #ffa5a5;
    border: solid 2px red;
    border-radius: 5px;
    font-weight: bold;
    color: #800000;
}