#app-content-up {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  

#app-content-bt {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
  }