#app-content-lr {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  #app-content-tb {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5% 0 5% 15%;
    width: 85%;
    height: 100%;
  }
  
  