#app-content-lr {
    display: flex;
    flex-direction: row;
    width: 100%;    
}

#app-content-tb {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#app-content-tb:last-child {
    padding-left: var(--widthSideMenu);
}