:root{
    --colorMenu: #364d6f;
    --colorMenuHover: #2c3e50;
    --colorTextHover: #70a9ff;
    --colorText: whitesmoke;
}

.headermenu {
    width: 100vw;
    height: 8vh;
    background-color: var(--colorMenu);
}

.headermenu .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.headermenu a {
    padding: 10px;
    text-decoration: none;
    color: var(--colorText);
    border-radius: 10px;
}

.links a:hover {
    background-color: var(--colorMenuHover);
}