:root {
    --padding: 16px;
    --colorMenu: #364d6f;
    --colorMenuHover: #2c3e50;
    --colorTextHover: #70a9ff;
    --colorText: whitesmoke;
}

#side-menu {
    height: 100%;
    padding: 10px 0;
    position: fixed;
    color: var(--colorText);
    background-color: var(--colorMenu);
}

.sideMenu-open {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.sideMenu-close{
    display: flex;
    flex-direction: column;
    width: 5%;
}

.menu-logo {
    width: 80%;
    margin: 0 15px 10px 15px;
}

.menu-logo-horizontal {
    width: 80%;
    margin: 0 15px 10px 15px;
}

.menu-details {
    font-size: small;
}

.menu-details[open] {
    background-color: var(--colorMenuHover);
}

.menu-details>summary {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    margin: 0;
    font-size: medium;
    cursor: pointer;
    list-style: none;
}

.menu-details>summary::after {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIwLjYzZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIwIDUxMiI+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0yNzguNiAyMzMuNGMxMi41IDEyLjUgMTIuNSAzMi44IDAgNDUuM2wtMTYwIDE2MGMtMTIuNSAxMi41LTMyLjggMTIuNS00NS4zIDBzLTEyLjUtMzIuOCAwLTQ1LjNMMjEwLjcgMjU2TDczLjQgMTE4LjZjLTEyLjUtMTIuNS0xMi41LTMyLjggMC00NS4zczMyLjgtMTIuNSA0NS4zIDBsMTYwIDE2MHoiLz48L3N2Zz4=');
}

.menu-details[open]>summary::after {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIwLjg4ZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0yMDEuNCAzNzQuNmMxMi41IDEyLjUgMzIuOCAxMi41IDQ1LjMgMGwxNjAtMTYwYzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zcy0zMi44LTEyLjUtNDUuMyAwTDIyNCAzMDYuN0w4Ni42IDE2OS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMHMtMTIuNSAzMi44IDAgNDUuM2wxNjAgMTYweiIvPjwvc3ZnPg==');
}


.menu-link {
    display: flex;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: var(--colorText);
    transition: background-color 0.3s;
}

.menu-link:hover {
    color: var(--colorTextHover);
}

.menu-bottom {
    margin-top: auto;
}

.user-profile,
.btn-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding);
}

.user-profile {
    flex-direction: column;
    gap: 5px;
    font-size: small;
    margin: 10px;
    padding: 10px 0;
    border-radius: 20px;
    background-color: var(--colorTextHover);
    position: relative;
}

.user-name {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu-expand, .user-options{
    position: absolute;
    background-color: var(--colorMenu);
    white-space: nowrap;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    left: calc(100% + 1.5rem);
    transform-origin: center left;
}

#menu-expand:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background: var(--colorMenu);
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 3px;
}

.expand-hidden{
    display: none;
}

.expand-open {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#menu-expand button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    width: 100%;
    color: var(--colorText);
    padding-bottom: 10px;
    cursor: pointer;
}

#menu-expand button:hover{
    font-weight: bold;
}


.collapse-options:hover #collapse-expand,
.collapse-options:focus #collapse-expand,
.collapse-options:active #collapse-expand {
    transform: scale(1);
    opacity: 1;
}

.collapse-options #collapse-expand {
    position: absolute;
    background-color: #30305a;
    white-space: nowrap;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    left: calc(100% + 1.5rem);
    transform-origin: center left;
    transform: scale(0);
    opacity: 0;
    transition: 0.15s ease;
}

#collapse-expand:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background: #30305a;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-radius: 3px;
}


/* ------------- collapse menu ------------- */

.collapse-pic{
    width: 80%;
}

.collapse-icon * {
    width: 80%;
    height: 30px;
    padding: 30% 0 0 5%;
}

.btn-collapse {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    width: 100%;
    color: var(--colorText);
    border-top: var(--colorMenuHover) solid 2px;
    padding-bottom: 10px;
    cursor: pointer;
}

.collapse-arrow {
    padding: 5px;
    border-radius: 20px;
    background-color: var(--colorMenuHover);
}

.user-collapse{
    padding-left: 5%;
}

